@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
body {
  font-family: "Inter", sans-serif;
}
.logo {
  background-image: url("./assets/img/logo.svg");
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.sidebar__menu-top {
  &::after {
    content: "";
    display: block;
    width: 80%;
    opacity: 0.2;
    margin: 10px auto 0 auto;
    border-bottom: 1px solid #ccc;
  }
  .sidebar__menu-top-item {
    position: relative;
    &.active {
      background-color: #3a3344;
      &::before {
        position: absolute;
        content: "";
        display: block;
        width: 3px;
        height: 100%;
        left: 0;
        background-color: #9b4de0;
      }
    }
  }
}

.sidebar__menu-bottom {
  .sidebar__menu-bottom-item {
    position: relative;
    &.active {
      background-color: #3a3344;
      &::before {
        position: absolute;
        content: "";
        display: block;
        width: 3px;
        height: 100%;
        left: 0;
        background-color: #9b4de0;
      }
    }
  }
}

.name__new-song__item {
  display: -webkit-inline-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 170px;
}

.list__new-song__item {
  position: relative;
  &:hover {
    .list__new-song__item-bg {
      display: flex;
    }
  }
  .list__new-song__item-bg {
    display: none;
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    .dots__menu {
      position: absolute;
      right: 20px;
      border-radius: 50%;
      width: 38px;
      height: 38px;
      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }
}
